#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: auto;
    padding: 0.25em;
    color: black;  
    position: sticky;
    top: 0;

    max-width: 100%; /* 85% */
    border-bottom: 0.025rem solid #ccc;
    /* box-shadow: ; */
}

.header > :last-child {
    align-self: flex-end;
}

.header > #name {
    align-self: left;
    border: 1px solid red;
}

#header:nth-child(n) {
    align-self: left;
    /* border: 5px solid red; */
}

.link {
    padding: 1em;
}

.link:hover {
    text-decoration: underline;
    /* border: dashed blue; */
    animation: rainbow linear 2s infinite;
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0);
    }

    100% {
        filter: hue-rotate(360);
    }
}

.title {
    /* align-self: left;    */
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}

.icon {
    color: black;
    font-size: 2rem;
}

.icon:hover {
    filter: invert(1);
    cursor: pointer;
}

@media (prefers-color-theme: dark) {
    .icon {
        color: whitesmoke;
    }

    #header {
        background-color: #343541;
        color: whitesmoke;
        border-bottom: none;
    }
}

.actions {
    display: flex;
}